body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to right, #f8f9fa, #e0f7fa);
        }
        .header {
            background-color: #4a69bd;
            color: white;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .content {
            padding: 20px;
        }
        .card {
            background-color: #4a69bd;
            color: white;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            margin: 10px;
        }
        .card h3 {
            font-size: 1.2rem;
        }
        .card h1 {
            font-size: 3rem;
        }
        .page {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        .page h1 {
            font-size: 24px;
            color: black;
        }
        .page .btn-group button {
            margin-left: 10px;
        }