html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e0f7fa);
}

.header {
    background-color: #4a69bd;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
    padding-bottom: 20px; /* Add some spacing before footer */
}

.card {
    background-color: #4a69bd;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.card h3 {
    font-size: 1.2rem;
}

.card h1 {
    font-size: 3rem;
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.page h1 {
    font-size: 24px;
    color: black;
}

.page .btn-group button {
    margin-left: 10px;
}