body{
    background-color: linear-gradient(180, #77d2E2, #FDBB2D);
}

header{
    display: flex;
    background-color: black;
    padding: 10vh;

    justify-content: space-between;
}

header nav {
    list-style: none;
    display: flex;
    background-color: #ffffff;
    padding: 0.5em;
    margin: 0;
    align-items: left;    
    justify-content: space-between;
}

header mb-2{
    padding: 1em;
}

header li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header .nav-menu{
    align-content: center;
    align-items: center;
    justify-content: center;
}

header .nav-menu:hover {
    color: #817616;
    padding: 1em;
    border: 1px solid; */
    box-shadow: 0px 10px #00000040 inset;
    font-weight: bolder;
    display: inline-block;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
footer{
    
}