body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f9c736 25%, grey 50%, #001885 75%); 
    padding: 10px;
    padding-left: 6vh;
    box-sizing: border-box; 
}

body::before{
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/misc/Slu Bakakeng.jpeg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        opacity: 0.2;
        z-index: -1;
}

.container {
    display: flex;
    height: 87vh;
    margin-top: 2%;
    width: 97%;
    background-color: transparent; 
}

.left-section {
    width: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-section img {
    width: 27vh; 
    height: auto; 
}

.right-section {
    width: 50%;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.welcome-message {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8vh; 
    color: #000a6c;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    width: 35vh;
    padding: 1vh;
    margin-bottom: 2vh;
    font-size: 16px;
}

.login-form button {
    width: 35vh;
    padding: 10px;
    background-color: #33386D;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background-color: #33386D;
}

.signup-container {
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.signup-container h6 {
    margin-right: 5px; 
    font-size: 11px;
    color: grey;
}

.signup-container a {
    font-size: 11px; 
    color: grey; 
}

.signup-text a {
    color: grey; 
    text-decoration: underline;
}

.signup-text {
    margin-top: -10px;
    font-size: 14px;
    color: grey;
    align-self: flex-end; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left-section, .right-section {
        width: 100%;
    }
}