/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

/* Main Heading */
h1 {
  margin-bottom: 20px;
  color: #494952;
}

/*Filter Section*/
.filter-section {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-section label {
  font-size: 16px;
  font-weight: bold;
}

.filter-section select {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-section button {
  padding: 5px 15px;
  font-size: 16px;
  background-color: #4d79ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-section button:hover {
  background-color: #3b62cc;
}

/* Table Styles */
.status-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.status-table thead {
  background-color: #7493DD;
  color: white;
}

.status-table th, .status-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  font-size: 16px;
}

.status-table tbody:hover {
  background-color: grey;
}

.status-table th {
  font-size: 18px;
}

/* Buttons */
.btn {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  max-width: 100px;
  width: 100%;
}

.btn.green {
  background-color: #28a745;
  color: white;
}

.btn.green:hover {
  background-color: #218838;
}

.btn.red {
  background-color: #dc3545;
  color: white;
}

.btn.red:hover {
  background-color: #c82333;
}